.header {
    padding-block: 20px;
    box-shadow: aquamarine 1px 1px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &__logo-img{
        max-width: 75px;
    }

    &__list{
        display: flex;
        align-items: center;    
        column-gap: 100px; 

        @include mobile-s{
            column-gap: 50px;
        }

    }
}