:root{

  --color-dark: #000;
  --color-light: #fff;

  --border-radius: 15px;

  --font-family-base: 'Nunito Sans', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 20px;

  --section-padding-y: 70px;

  --input-height: 59px;

  --button-height: 68px;

  --transition-duration: 0.2s;

}